{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    <div>
      <span>{{note.id}}. "{{note.title}}"</span>
      <br />
      {{note.data}}
      <button type="button" class="close" onclick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </li>
  {% endfor%}
</ul>
<br />
<br />
<br />
<form method="POST">
  <div>
    <span>Title:</span>
    <textarea rows="1" name="title" id="title" class="form-control"></textarea>
  </div>
  <div>
    <span>Content:</span>
    <textarea name="note" id="note" class="form-control"></textarea>
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>

{% endblock %}
