{% extends "base.html" %} {% block title %} Search {% endblock %} {% block
content %}
<br />
<br />
<span>Search for your note:</span>
<form method="GET">
  <div align="center">
    <input
      class="form-control"
      id="search"
      name="query"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />

    <br />
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>

<br />
<br />
<br />
<ul class="list-group list-group-flush" id="notes">
  {% for note in filtered_notes %}
  <li class="list-group-item">
    <div>
      <span>{{note.id}}. "{{note.title}}"</span>
      <br />
      {{note.data}}
    </div>
  </li>
  {% endfor%}
</ul>

{% endblock %}
